<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>Edit item {{target.id}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group" ng-repeat="field in fields | orderBy: 'order'">
                <label for="{{field.key}}">{{field.name}}</label>
                <input type="value" class="form-control" id="{{field.key}}" ng-model="target[field.key]">
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>