
<div class="container-fluid">

    <uib-tabset>

    <uib-tab heading="Entries">
        <div ng-controller="SettingsEntriesCtrl">
        <div>
            <table class="table table-bordered">
                <thead>
                    <td>Id</td>
                    <td>Fields</td>
                    <td>Actions</td>
                </thead>
                <tr ng-repeat="(key, entry) in targets track by key">
                    <td>
                        {{key}}
                    </td>
                    <td width="90%">
                        <textarea class="form-control" ng-change="valueChanged(entry)" ng-model="entry.str"></textarea>
                    </td>
                    <td>
                        <span ng-hide="!entry.jsonError" class="label label-warning">JSON syntax error</span>
                        <button class="btn btn-default btn-xs" ng-click="save(key, entry)" ng-disabled="entry.jsonError">Save</button><br>
                        <button class="btn btn-default btn-xs" ng-click="delete(key)">Delete</button><br>
                    </td>
                </tr>
                <tr ng-repeat="entry in newEntries track by $index">
                    <td>
                        +
                    </td>
                    <td width="90%">
                        <textarea class="form-control" ng-change="valueChanged(entry)" ng-model="entry.str"></textarea>
                    </td>
                    <td>
                        <span ng-hide="!entry.jsonError" class="label label-warning">JSON syntax error</span>
                        <button class="btn btn-default btn-xs" ng-click="post(entry)" ng-disabled="entry.jsonError">Save</button><br>
                        <button class="btn btn-default btn-xs" ng-click="deleteNew($index)">Delete</button><br>
                    </td>
                </tr>
                <tr>
                    <td  colspan="3">
                        <button class="btn btn-default btn-m" ng-click="addNew()">Add new</button><br>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </uib-tab>

    <uib-tab heading="Meta parameters">

        <br/>
        <div>
            <button class="btn btn-primary" ng-click="metaSave()" ng-disabled="metaSaveInProgress">Save</button>
            Changes made are not saved until this button is clicked.
        </div>
        <br/>
        <table class="table table-bordered">
            <tr ng-repeat="column in meta">
                <td ng-class="{'has-error': column.toDelete, 'has-warning': !objEquals(column.key) }">
                    <input type="text" class="form-control" ng-model="column.key.actual" placeholder="meta key" ng-disabled="column.toDelete">
                    <button class="btn btn-default btn-xs" ng-click="metaColumnUndo(column)" ng-disabled="objEquals(column.key)&&!column.toDelete">Undo</button>
                    <button class="btn btn-default btn-xs" ng-click="column.toDelete=true" ng-disabled="column.toDelete">Delete</button>
                </td>
                <td>
                    <form class="form-horizontal container"  ng-hide="column.toDelete">
                        <div class="row" ng-repeat="row in column.columns" ng-class="{'has-error': row.toDelete, 'has-warning': !objEquals(row.key)||!objEquals(row.value) }">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="row.key.actual" ng-change="metaRowChanged(row)" placeholder="key" ng-disabled="row.toDelete" uib-typeahead="key for key in supportedParameterNames | filter:$viewValue | limitTo:8">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="row.value.actual" ng-change="metaRowChanged(row)" placeholder="value" ng-disabled="row.toDelete">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-default btn-xs" ng-click="metaUndo(row)" ng-disabled="objEquals(row.key) && objEquals(row.value) && !row.toDelete">Undo</button>
                                <button class="btn btn-default btn-xs" ng-click="row.toDelete = true" ng-disabled="row.toDelete">Delete</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-default" ng-click="metaColumnAdd()">Add new meta</button>
                </td>
            </tr>
        </table>
    </uib-tab>

    </uib-tabset>
</div>