
<div class="container-fluid">
    <table class="table table-bordered">
        <thead><th ng-repeat="column in meta | orderBy: 'order' "><rte-header></rte-header></th></thead>
        <tr ng-repeat="target in targets | orderBy: 'group' | filter: filters">
            <td ng-repeat="column in meta | orderBy: 'order'">
                <rte-gen target="target" column="column"></rte-gen>
            </td>
        </tr>
    </table>
</div>