<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reservation Tool</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>

 <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">R2</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#targets">Targets</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
          <li ng-hide="isLoggedIn">
            <form class="navbar-form" ng-submit="login(username)">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter username" ng-model="username">
              </div>
            </form>
          </li>
          <li uib-dropdown ng-show="isLoggedIn">
            <a href="#" uib-dropdown-toggle>{{username}} <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="showProfileDialog()">Profile</a></li>
              <li><a href="#/settings">Settings</a></li>
              <li class="divider" role="presentation"></li>
              <li><a ng-click="logout()">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- endbower -->

  <!-- build:js js/app.js -->
  <script src="app.js"></script>
  <script src="views/targets/targets.js"></script>
  <script src="views/settings/settings.js"></script>
  <script src="views/login/loginctrl.js"></script>
  <script src="views/edit/edit.js"></script>
  <script src="views/profile/profile.js"></script>
  <script src="components/lock/lock.js"></script>
  <script src="components/targets/targets.js"></script>
  <script src="components/session/session.js"></script>
  <script src="components/users/users.js"></script>
  <!-- endbuild -->
</body>
</html>
