<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>{{username}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="value" class="form-control" name="email" ng-model="email">
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>